
.App > h2 {
  font-size: 1.5rem;
}

.fetch-button {
  margin-bottom: 30px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  background-color: lightblue;
  border: none;
  color: darkblue(15, 66, 54);
}
.books {
  display: flex;

  flex-wrap: wrap;
}

.book {
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 40%;
  color: darkcyan;
  flex-basis: width;
  background-color: lightblue;
}

.info {
  text-align: left;
}
